@charset "UTF-8";

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#corpo {
    display: flex;
    flex-direction: column;
    gap: .7em;
    background-color: lightgray;
    border: solid 1px rgb(82, 81, 81);
    width: fit-content;
    height: fit-content;
    padding: 30px;
    border-radius: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#display {
    background-color: rgb(61, 61, 61);
    border-radius: .5em;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

#contador {
    text-align: center;
    color: rgb(1, 199, 1);
    font-size: large;
    letter-spacing: 1px;
}

#inputAlarme {
    outline-style: none;
    border: solid 1px transparent;
    transition: 600ms;
}

#inputAlarme:focus {
    border: solid 1px black;
}

/* Botões */

#botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#botoes > button {
    padding: 10px;
    outline-style: none;
    border-radius: .5em;
    border: solid 1px transparent;
    transition: 600ms;
}

#botoes > button:hover {
    letter-spacing: 1px;
    cursor: pointer;
    border: solid 1px black;
    background-color: grey;
    color: white;
}