@charset "UTF-8";

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    background-image: linear-gradient(200deg, hsl(213, 19%, 18%), hsl(216, 12%, 8%));
    border-radius: 2em;
    width: 300px;
    padding: 2em;
}

#imagem {
    display: flex;
    justify-content: center;
}