@charset "UTF-8";

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 109);
}

html {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    background-color: cornflowerblue;
    padding: 50px;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

main > h1 {
    position: relative;
    bottom: 25px;
}

/* Inputs */

main > input {
    background-color: white;
    border: none;
    outline-style: none;
    border-radius: .5em;
    padding: 10px;
    text-align: center;
}

#inputnumres {
    outline-style: none;
}

#inputnumres:hover {
    cursor: not-allowed;
}

#btns {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 1em;
}

#btns button {
    padding: 20px;
    font-size: 20px;
    border: solid 1px transparent;
    background-color: aquamarine;
}

#btns button:hover {
    background-color: rgb(102, 206, 171);
    border: solid 1px black;
    cursor: pointer;
}